<!-- .main -->
<div class="main">
    <!-- .wrapper -->
    <div class="wrapper">
        <!-- .banner -->
        <div class="banner">
            <!-- .banner__img -->
            <img src="assets/img/banner.png" alt="" class="banner__img" />
            <!-- /.banner__img -->

            <!-- .banner__body -->
            <div class="banner__body">
                <h1 class="banner-title">
                    Sua empresa na rede<br /> <span class="banner-title__big">é gol!</span>
                </h1>

                <!-- .banner-grid -->
                <div class="banner-grid">
                    <!-- .banner-cell -->
                    <div class="banner-cell">
                        <!-- .banner-item -->
                        <a href="/servicos" class="banner-item banner-item--service">
                            <img src="assets/img/servicos.png" alt="" class="banner-item__img" />
                            Serviços
                        </a>
                        <!-- /.banner-item -->
                    </div>
                    <!-- /.banner-cell -->
                    <!-- .banner-cell -->
                    <div class="banner-cell">
                        <!-- .banner-item -->
                        <a href="/sobrenos" class="banner-item banner-item--about">
                            <img src="assets/img/sobrenos.png" alt="" class="banner-item__img" />
                            Sobre nós
                        </a>
                        <!-- /.banner-item -->
                    </div>
                    <!-- /.banner-cell -->
                    <!-- .banner-cell -->
                    <div class="banner-cell">
                        <!-- .banner-item -->
                        <a href="/contato" class="banner-item banner-item--contact">
                            <img src="assets/img/contato.png" alt="" class="banner-item__img" />
                            Contato
                        </a>
                        <!-- /.banner-item -->
                    </div>
                    <!-- /.banner-cell -->
                </div>
                <!-- /.banner-grid -->


                <p>Muitos dos seus potenciais clientes estão nas redes sociais. Nós cuidamos da sua presença online para aproximá-los.</p>
            </div>
            <!-- /.banner__body -->
        </div>
        <!-- /.banner -->
    </div>
    <!-- /.wrapper -->
</div>
<!-- /.main -->
