<!-- .main -->
<div class="main">
    <!-- .wrapper -->
    <div class="wrapper">
        <!-- .page -->
        <div class="page">
            <!-- .page__head -->
            <header class="page__head">
                <h1 class="page__title">Enviado com sucesso!</h1>
            </header>
            <!-- /.page__head -->

            <!-- .page__body -->
            <div class="page__body">
                <p>Obrigado pelo contato, logo estaremos retornando o contato.</p>
            </div>
            <!-- /.page__body -->
        </div>
        <!-- /.page -->
    </div>
    <!-- /.wrapper -->
</div>
<!-- /.main -->
