<!-- .main -->
<div class="main">
    <!-- .wrapper -->
    <div class="wrapper">
        <!-- .page -->
        <div class="page">
            <!-- .page__head -->
            <header class="page__head">
                <h1 class="page__title">Nossos serviços</h1>
            </header>
            <!-- /.page__head -->

            <!-- .page__body -->
            <div class="page__body">
                <!-- .service-grid -->
                <div class="service-grid">
                    <!-- .service-cell -->
                    <div class="service-cell">
                        <!-- .service-item -->
                        <div class="service-item">
                            <div class="service-item__left">
                                <div class="service-item__bg">
                                    <h2 class="service-item__title">Presença</h2>
                                    <img src="assets/img/presenca.png" alt="" class="service-item__img" />
                                </div>
                            </div>
                            <div class="service-item__body">
                                <h3 class="service-item__subtitle">Criamos ou revigoramos a presença da sua empresa nas Redes Sociais.</h3>
                                <p>Criamos e administramos perfis nas principais redes sociais. Porém, focamos no Facebook por ser atualmente um lugar de muita interação de potenciais clientes. Definimos a voz da marca desde o começo e procuramos um perfil adaptado ao público-alvo.</p>
                            </div>
                        </div>
                        <!-- /.service-item -->
                    </div>
                    <!-- /.service-cell -->

                    <!-- .service-cell -->
                    <div class="service-cell">
                        <!-- .service-item -->
                        <div class="service-item">
                            <div class="service-item__left">
                                <div class="service-item__bg">
                                    <h2 class="service-item__title">Conteúdo</h2>
                                    <img src="assets/img/conteudo.png" alt="" class="service-item__img" />
                                </div>
                            </div>
                            <div class="service-item__body">
                                <h3 class="service-item__subtitle">Desenvolvemos conteúdos para suas redes sociais.</h3>
                                <p>Um conteúdo exclusivo e criativo é o carro chefe de qualquer campanha bem-sucedida na web. Buscamos atrair clientes de forma orgânica, ou seja, que se interessem espontaneamente em seu produto. Para isso, publicamos o conteúdo exclusivo de forma periódica.</p>
                            </div>
                        </div>
                        <!-- /.service-item -->
                    </div>
                    <!-- /.service-cell -->

                    <!-- .service-cell -->
                    <div class="service-cell">
                        <!-- .service-item -->
                        <div class="service-item">
                            <div class="service-item__left">
                                <div class="service-item__bg">
                                    <h2 class="service-item__title">Influência</h2>
                                    <img src="assets/img/influencia.png" alt="" class="service-item__img" />
                                </div>
                            </div>
                            <div class="service-item__body">
                                <h3 class="service-item__subtitle">Aumentamos e fidelizamos os seguidores.</h3>
                                <p>Aplicamos estratégias de publicidade online (Facebook Ads) de forma a otimizar o investimento. Em conjunto com o conteúdo exclusivo e uma segmentação precisa, a idéia além de atrair as pessoas é converte-las em clientes.</p>
                            </div>
                        </div>
                        <!-- /.service-item -->
                    </div>
                    <!-- /.service-cell -->

                    <!-- .service-cell -->
                    <div class="service-cell">
                        <!-- .service-item -->
                        <div class="service-item">
                            <div class="service-item__left">
                                <div class="service-item__bg">
                                    <h2 class="service-item__title">Atenção</h2>
                                    <img src="assets/img/atencao.png" alt="" class="service-item__img" />
                                </div>
                            </div>
                            <div class="service-item__body">
                                <h3 class="service-item__subtitle">Respondemos perguntas e atendemos dúvidas dos clientes.</h3>
                                <p>Rapidez e exatidão ao responder dúvidas dos clientes, isso gera confiança aos consumidores. Saber que existe alguém do outro lado faz muita diferença na percepção do cliente sobre a marca. Por isso humanizamos a relação com respostas diretas e personalizadas.</p>
                            </div>
                        </div>
                        <!-- /.service-item -->
                    </div>
                    <!-- /.service-cell -->

                    <!-- .service-cell -->
                    <div class="service-cell">
                        <!-- .service-item -->
                        <div class="service-item">
                            <div class="service-item__left">
                                <div class="service-item__bg">
                                    <h2 class="service-item__title">Análise</h2>
                                    <img src="assets/img/analise.png" alt="" class="service-item__img" />
                                </div>
                            </div>
                            <div class="service-item__body">
                                <h3 class="service-item__subtitle">Monitoramos o desempenho da marca nas Redes Sociais</h3>
                                <p>Traduzimos os resultados de todo o trabalho para gerar um relatório mensal. Isso serve de guia para medir a eficiência das ações de marketing e planejar os próximos passos.</p>
                            </div>
                        </div>
                        <!-- /.service-item -->
                    </div>
                    <!-- /.service-cell -->
                </div>
                <!-- /.service-grid -->
            </div>
            <!-- /.page__body -->
        </div>
        <!-- /.page -->
    </div>
    <!-- /.wrapper -->
</div>
<!-- /.main -->
