<!-- .main -->
<div class="main">
    <!-- .wrapper -->
    <div class="wrapper">
        <!-- .page -->
        <div class="page">
            <!-- .page__head -->
            <header class="page__head">
                <h1 class="page__title">Sobre nós</h1>
            </header>
            <!-- /.page__head -->

            <!-- .page__body -->
            <div class="page__body">
                <p>Somos <strong>profissionais de comunicação social</strong> especializados em publicidade por Internet.
Durante os últimos anos trabalhamos em diversas áreas do <strong>marketing digital</strong> no Brasil e na Argentina, onde atendemos contas de grande porte como Oral-B, Disney Channel, Decolar, ebay (SEO e Link Building) e Gillette. Também trabalhamos com pequenas e médias empresas como WebJurídico, Activesec e Adlatina.</p>
                <p>A <strong>55bits</strong> existe para atender uma demanda específica do mercado de <strong>pequenas e médias empresas</strong>: a incursão nas redes sociais e o desenvolvimento de uma presença sólida e atualizada na Internet.<br /> <strong class="orange">Pode confiar, sabemos como funciona o mundo digital.</strong></p>

                <!-- .customers -->
                <div class="customers">
                    <!-- .customers-grid -->
                    <div class="customers-grid">
                        <!-- .customers-cell -->
                        <div class="customers-cell">
                            <!-- .customers-item -->
                            <div class="customers-item">
                                <img src="assets/img/customers/oral-b.png" alt="" class="customers-item__img" />
                                <div class="customers-item__body">
                                    <h3 class="customers-item__title">Oral-B</h3>
                                    <p>Redes Sociais.</p>
                                </div>
                            </div>
                            <!-- /.customers-item -->
                        </div>
                        <!-- /.customers-cell -->

                        <!-- .customers-cell -->
                        <div class="customers-cell">
                            <!-- .customers-item -->
                            <div class="customers-item">
                                <img src="assets/img/customers/ebay.png" alt="" class="customers-item__img" />
                                <div class="customers-item__body">
                                    <h3 class="customers-item__title">eBay</h3>
                                    <p>Marketing digital e SEO.</p>
                                </div>
                            </div>
                            <!-- /.customers-item -->
                        </div>
                        <!-- /.customers-cell -->

                        <!-- .customers-cell -->
                        <div class="customers-cell">
                            <!-- .customers-item -->
                            <div class="customers-item">
                                <img src="assets/img/customers/pg.png" alt="" class="customers-item__img" />
                                <div class="customers-item__body">
                                    <h3 class="customers-item__title">P&G</h3>
                                    <p>Redes Sociais.</p>
                                </div>
                            </div>
                            <!-- /.customers-item -->
                        </div>
                        <!-- /.customers-cell -->

                        <!-- .customers-cell -->
                        <div class="customers-cell">
                            <!-- .customers-item -->
                            <div class="customers-item">
                                <img src="assets/img/customers/disney.png" alt="" class="customers-item__img" />
                                <div class="customers-item__body">
                                    <h3 class="customers-item__title">Disney</h3>
                                    <p>Moderação de conteúdo(Youtube e Facebook).</p>
                                </div>
                            </div>
                            <!-- /.customers-item -->
                        </div>
                        <!-- /.customers-cell -->

                        <!-- .customers-cell -->
                        <div class="customers-cell">
                            <!-- .customers-item -->
                            <div class="customers-item">
                                <img src="assets/img/customers/gillete.png" alt="" class="customers-item__img" />
                                <div class="customers-item__body">
                                    <h3 class="customers-item__title">Gillete</h3>
                                    <p>Redes Sociais.</p>
                                </div>
                            </div>
                            <!-- /.customers-item -->
                        </div>
                        <!-- /.customers-cell -->

                        <!-- .customers-cell -->
                        <div class="customers-cell">
                            <!-- .customers-item -->
                            <div class="customers-item">
                                <img src="assets/img/customers/am.png" alt="" class="customers-item__img" />
                                <div class="customers-item__body">
                                    <h3 class="customers-item__title">assist-med</h3>
                                    <p>Mídia Social e Ad planning.</p>
                                </div>
                            </div>
                            <!-- /.customers-item -->
                        </div>
                        <!-- /.customers-cell -->

                        <!-- .customers-cell -->
                        <div class="customers-cell">
                            <!-- .customers-item -->
                            <div class="customers-item">
                                <img src="assets/img/customers/adlatina.png" alt="" class="customers-item__img" />
                                <div class="customers-item__body">
                                    <h3 class="customers-item__title">Adlatine</h3>
                                    <p>Redação / Jornalismo.</p>
                                </div>
                            </div>
                            <!-- /.customers-item -->
                        </div>
                        <!-- /.customers-cell -->
                    </div>
                    <!-- /.customers-grid -->
                </div>
                <!-- /.customers -->
            </div>
            <!-- /.page__body -->
        </div>
        <!-- /.page -->
    </div>
    <!-- /.wrapper -->
</div>
<!-- /.main -->
